body {
  background-image: url(./assets/speed.webp);
  background-size: cover;
  background-size: contain;
}

.sounds {
  gap: 10px;
  align-items: center;
  background-color: #0276FF;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  padding: 10px 21px;
  text-align: center;
}

.sounds:active {
  transform: scale(0.95);
  opacity: 0.7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0,2);
}

.sounds:hover {
  background-color: #1C84FF;
}
